<section class="card">
    <a href="/meme/{{id}}">
        <div class="card-body">
            <img src="/images/{{meme.[0].image}}" alt="{{meme.[0].caption}}">
        </div>
        <h1>
            <p>{{meme.caption}}</p>
        </h1>
        <div>
            <p>By: {{user}}</p>
        </div>
    </a>
</section>