<div class="container is-max-desktop">
  <div class="notification">
    {{#each memes as |meme|}}
      <div class="card">
        <div class="card-header">
          <h3>
            <a href="/meme/{{meme.meme_id}}"></a>
                {{!-- {{meme.caption}} --}}
          </h3>
          <p>Posted by
            {{user_id.first_name}}
            on
            {{format_date meme.date_created}}</p>
        </div>
        <div class="card-content">
          <p>{{meme.caption}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>