<div class="container is-max-desktop">
  <div class="notification">
    {{#each memePosts as |memePost|}}
      <div class="card">
        <div class="card-header">
          <h3>
            <a href="/memePost/{{memePost.id}}">{{memePost.title}}</a>
          </h3>
          <p>Posted by
            {{user.first-name}}
            on
            {{format_date memePost.date_created}}</p>
        </div>
        <div class="card-content">
          <p>{{memePost.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>