   <div class="card columns is-centered" id="profile-template">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="{{ image }}"
                alt="profile image"
              />
            </figure> 
          </div>
          <div class="media-content">
            <p class="title is-4">{{first_name}} {{ last_name }}</p>
            <p class="subtitle is-6">Email: {{email}}</p>
            <p>Bio: {{bio}}</p>
          <br />          
        </div>
          </div>
        </div>       

      <div class="card-content">
        {{#if memes.length}} 

        {{#each memes as |meme|}} 
        {{> profilePost meme}}
        <br />
        {{/each}} 
        
        {{/if}}
      </div>
    </div>
    {{#if (is_my_page user.id userId)}}
    <div class="container">
      <div class="card columns is-centered">
        <a href="/create"
          ><button class="button is-success is-small">Create a Post</button></a
        >
      </div>
      {{else}}

      <div class="card columns is-centered">
        <p>Hasn't created any posts yet!</p>
      </div>
    </div>
    {{/if}}

    <script src="/js/profile.js"></script>
 
